<?xml version="1.0" encoding="UTF-8"?> 
 
<widget xmls ="http://www.w3.org/ns/widget"
xmls:gap = "http://phonegap.com/ns/1.0"
id = "com.phonegap.app1R-julio"
version = "1.0.0">

<name> app1 DATOS DEL ALUMNO </name>

<description>
	Aplicacion nque muestra los DATOS del alumno 
</description>

<author href="https://build.phonegap.com" email="cb16.galindo.rodriguez.esteban@gmail.com">
Esteban Samuel Galindo Rodríguez
</author>

<!--Personaliza la apliacion y plataforma-->
<preference name="orientation" value="default" />


<preference name="target-device" value="universal" />
<preference name="fullscreen" value="true" />
<preference name="android-installLocation" value="auto" />
<preference name="permissions" value="INTERNET" />

<!--plugins-->
<plugin name="cordova-plugin-device" spec="~1.1.4" />
<plugin name="cordova-plugin-vibration" spec="~2.1.3" />
<plugin name="cordova-plugin-dialogs" spec="~1.3.1" />

<!--Colocar icono apliacion-->
<icon src="res/android/mdpi.png" />
</widget>
